.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.container_top {
  position: relative;
  min-height: 40vh;
  background: url("./components/assets/pattern-bg.png") center/cover no-repeat;
}

.container_title {
  position: absolute;
  top: 5%;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  z-index: 5;
}

.search {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 7vh;
  margin: 0 auto;
}

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  line-height: 2.5;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}
.search_button {
  position: absolute;
  width: 12%;
  height: 100%;
  left: 90%;
  outline: none;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  cursor: pointer;
  background: #000;
}

.search_button img {
  margin-left: 10px;
}

#map {
  height: 300px;
}

.details {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 40vh;
  padding: 30px;
  width: 90%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 10px;
  z-index: 1000;
}

.details_title {
  color: grey;
}

.isp,
.location,
.ip_address,
.time_zone {
  font-weight: 700;
  margin: 20px 0;
}

.isp_info {
  text-align: center;
}

/* Wide Screen */
@media only screen and (min-width: 800px) {
  .search {
    width: 50%;
  }
  .details {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* Medium Screen */
@media only screen and (min-width: 576px) {
  .search {
    width: 100px;
  }
}

/* Small Screen */
@media only screen and (min-width: 375px) {
  .container_top {
    min-height: 35vh;
  }
  .search {
    width: 40%;
  }
  .details {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 80%;
    top: 25%;
    min-height: 20vh;
  }
}
